<h1>User listing</h1>


<table>
  <thead>
    <tr>
      <th>Name:</th>
      <th style="text-align: start;">Email</th>
    </tr>
  </thead>
<tbody>
  <% @users.each do |user| %>
  <tr>
    <td><%= user.username.capitalize %></td>
    <td><%= user.email%></td>
    <td><%= link_to 'Edit', edit_user_path(user) %></td>
  </tr>
  <% end %>
</tbody>
</table>